[submodule "dependencies/RapidJSON"]
	path = dependencies/RapidJSON
	url = https://github.com/Tencent/rapidjson
[submodule "dependencies/AssImp"]
	path = dependencies/AssImp
	url = https://github.com/assimp/assimp
