[submodule "dependencies/RapidJSON"]
	path = dependencies/RapidJSON
	url = https://github.com/Tencent/rapidjson
[submodule "dependencies/assimp"]
	path = dependencies/assimp
	url = https://github.com/assimp/assimp
