[submodule "dependencies/RapidJSON"]
	path = dependencies/RapidJSON
	url = https://github.com/Tencent/rapidjson.git
[submodule "dependencies/TinyOBJLoader"]
	path = dependencies/TinyOBJLoader
	url = https://github.com/syoyo/tinyobjloader.git
